<div class="row">
    <div class="col-md-4 " *ngFor="let data of data">
      <div class="card list-group-item" style="width: 18rem;min-width:323px;">
        <img class="card-img-top" [src]="data.img" width="286px" height="180px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{data.itemName}}</h5>
          <p class="card-text">Number of ordered item is {{data.quantity}}.</p>
          <p style="color:#337ab7;" class="card-text">Total Amount {{data.totalAmount}}.</p>
          <button [ngClass]="{ 'hide-confirm-button': confirmButtonStatus && confirmbutton.id.search(confirmButtonId)>=0}" (mouseenter)="onEnterConfirmButton(confirmbutton,data)" 
           class="btn btn-primary minimum-width-button" [id]="data.itemName+'-confirm-button'" 
           #confirmbutton>Order Confirmed</button>
          <button [ngClass]="{ 'hide-confirm-button': dangerButton.id.search(deleteButtonId)<0}" (click)="onclickDanger(data)" 
          (mouseleave)="onLeaveConfirmButton()" [id]="data.itemName+'-delete-button'" #dangerButton
           class="btn btn-danger minimum-width-button">Cancel Order</button>
        </div>
      </div>
    </div>

     <app-summary-dialog *ngIf="service.paymentDialogstatus"></app-summary-dialog>



</div>